## Series Creation

In [1]:
import pandas as pd
import numpy as np

In [32]:
ice_cream = ['choc','vanila','straw','rum']
pd.Series(ice_cream)

0      choc
1    vanila
2     straw
3       rum
dtype: object

In [33]:
lottery = [1,4,5,6,78,7]
pd.Series(lottery)

0     1
1     4
2     5
3     6
4    78
5     7
dtype: int64

In [34]:
web = {'advark':'animal','banana':'friut','cyan':'a color'}
pd.Series(web)

advark     animal
banana      friut
cyan      a color
dtype: object

## INtro to Atrr

In [37]:
about_me = ['smart','intrelligent','osm','beast']
s = pd.Series(about_me)
s

0           smart
1    intrelligent
2             osm
3           beast
dtype: object

In [38]:
s.values

array(['smart', 'intrelligent', 'osm', 'beast'], dtype=object)

In [39]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [40]:
s.dtype

dtype('O')

## INtro to Method

In [41]:
price = [2.33,4.4,5.3,4.44,3.44]
s1 = pd.Series(price)
s1

0    2.33
1    4.40
2    5.30
3    4.44
4    3.44
dtype: float64

In [45]:
s1.sum()

19.910000000000004

In [46]:
s1.product()

829.90022016

In [47]:
s1.mean()

3.9820000000000007

## Parameter and Arguments

In [53]:
friuts = ["apple","grape","Orange","Berry"]
weekdays = ['monday','tuesday','thru','fri']
pd.Series(friuts,weekdays)
pd.Series(data=friuts,index=weekdays)
pd.Series(friuts,index=weekdays)

monday      apple
tuesday     grape
thru       Orange
fri         Berry
dtype: object

In [54]:
friuts = ["apple","grape","Orange","Berry","watermelon"]
weekdays = ['monday','tuesday','thru','fri','monday']
pd.Series(data=friuts,index=weekdays)

monday          apple
tuesday         grape
thru           Orange
fri             Berry
monday     watermelon
dtype: object

## Import series with read_csv

In [2]:
datetime = pd.read_csv('/home/nilesh/Desktop/yellow.csv',usecols=['tpep_pickup_datetime'],squeeze=True)

In [3]:
salary = pd.read_csv('/home/nilesh/Downloads/P14-Simple-Linear-Regression/Simple_Linear_Regression/data.csv',usecols=['Salary'],squeeze=True)

In [10]:
salary.head()
salary.head(10)

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
Name: Salary, dtype: float64

In [12]:
salary.tail()
salary.tail(7)

23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

## Python built in fun

In [14]:
len(salary)
len(datetime)

8759874

In [15]:
type(datetime)

pandas.core.series.Series

In [16]:
dir(datetime)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_prepare__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__idiv__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_expand_axes',
 '_find_valid_index',
 '_formatting_values',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'autocorr',
 'axes',
 'base',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'compress',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'data',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_array',
 'ftype',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'imag',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'nonzero',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'ptp',
 'put',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'real',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'select',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'strides',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'timetuple',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_msgpack',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [18]:
sorted(salary)
sorted(datetime)

['2001-01-05 11:45:23',
 '2002-12-31 23:01:55',
 '2002-12-31 23:02:29',
 '2002-12-31 23:03:13',
 '2002-12-31 23:16:43',
 '2002-12-31 23:47:02',
 '2003-01-01 00:06:34',
 '2003-01-01 00:25:20',
 '2003-01-01 00:31:27',
 '2003-01-01 01:12:28',
 '2003-01-01 04:43:26',
 '2008-12-31 18:30:07',
 '2008-12-31 23:02:27',
 '2008-12-31 23:05:28',
 '2008-12-31 23:11:56',
 '2008-12-31 23:15:43',
 '2008-12-31 23:22:05',
 '2008-12-31 23:30:14',
 '2008-12-31 23:40:28',
 '2008-12-31 23:45:58',
 '2008-12-31 23:51:01',
 '2008-12-31 23:56:44',
 '2009-01-01 00:09:24',
 '2009-01-01 00:16:26',
 '2009-01-01 00:17:45',
 '2009-01-01 00:30:00',
 '2009-01-01 00:36:33',
 '2009-01-01 00:48:49',
 '2009-01-01 00:51:54',
 '2009-01-01 01:03:33',
 '2009-01-01 01:14:52',
 '2009-01-01 01:37:21',
 '2009-01-01 02:00:14',
 '2009-01-01 03:32:24',
 '2009-01-01 08:04:56',
 '2009-01-01 10:05:05',
 '2009-01-01 13:25:15',
 '2009-01-01 15:20:10',
 '2009-01-01 22:57:08',
 '2017-01-02 08:46:53',
 '2017-01-03 22:00:57',
 '2017-12-31 10:53:16',
 '2017-12-31 11:02:11',
 '2017-12-31 11:07:13',
 '2017-12-31 11:08:42',
 '2017-12-31 11:11:39',
 '2017-12-31 11:15:35',
 '2017-12-31 11:16:51',
 '2017-12-31 11:17:35',
 '2017-12-31 11:22:21',
 '2017-12-31 11:23:17',
 '2017-12-31 11:31:49',
 '2017-12-31 11:32:33',
 '2017-12-31 11:36:48',
 '2017-12-31 11:40:34',
 '2017-12-31 11:46:15',
 '2017-12-31 11:46:52',
 '2017-12-31 11:51:49',
 '2017-12-31 11:57:14',
 '2017-12-31 12:00:45',
 '2017-12-31 12:05:15',
 '2017-12-31 12:12:14',
 '2017-12-31 12:14:18',
 '2017-12-31 12:33:49',
 '2017-12-31 12:52:15',
 '2017-12-31 16:16:24',
 '2017-12-31 16:27:24',
 '2017-12-31 16:32:11',
 '2017-12-31 16:34:29',
 '2017-12-31 16:39:56',
 '2017-12-31 16:47:14',
 '2017-12-31 16:48:50',
 '2017-12-31 16:53:58',
 '2017-12-31 16:55:23',
 '2017-12-31 16:55:27',
 '2017-12-31 16:56:36',
 '2017-12-31 16:56:50',
 '2017-12-31 16:57:58',
 '2017-12-31 17:02:24',
 '2017-12-31 17:04:57',
 '2017-12-31 17:06:35',
 '2017-12-31 17:07:25',
 '2017-12-31 17:09:48',
 '2017-12-31 17:10:15',
 '2017-12-31 17:13:46',
 '2017-12-31 17:15:15',
 '2017-12-31 17:16:28',
 '2017-12-31 17:17:47',
 '2017-12-31 17:20:38',
 '2017-12-31 17:28:02',
 '2017-12-31 17:33:05',
 '2017-12-31 17:34:54',
 '2017-12-31 17:37:10',
 '2017-12-31 17:39:49',
 '2017-12-31 17:58:58',
 '2017-12-31 18:00:43',
 '2017-12-31 18:01:08',
 '2017-12-31 18:11:15',
 '2017-12-31 18:15:16',
 '2017-12-31 18:19:15',
 '2017-12-31 18:23:03',
 '2017-12-31 18:27:30',
 '2017-12-31 18:31:28',
 '2017-12-31 18:32:27',
 '2017-12-31 18:45:51',
 '2017-12-31 18:46:50',
 '2017-12-31 18:50:48',
 '2017-12-31 18:53:22',
 '2017-12-31 19:02:58',
 '2017-12-31 19:10:17',
 '2017-12-31 19:18:39',
 '2017-12-31 20:42:50',
 '2017-12-31 20:54:59',
 '2017-12-31 20:58:20',
 '2017-12-31 21:07:50',
 '2017-12-31 21:09:04',
 '2017-12-31 21:10:27',
 '2017-12-31 21:10:43',
 '2017-12-31 21:19:10',
 '2017-12-31 21:19:36',
 '2017-12-31 21:20:01',
 '2017-12-31 21:20:16',
 '2017-12-31 21:21:44',
 '2017-12-31 21:25:39',
 '2017-12-31 21:26:36',
 '2017-12-31 21:33:34',
 '2017-12-31 21:33:35',
 '2017-12-31 21:34:43',
 '2017-12-31 21:38:11',
 '2017-12-31 21:41:40',
 '2017-12-31 21:46:04',
 '2017-12-31 21:48:24',
 '2017-12-31 21:49:20',
 '2017-12-31 21:54:50',
 '2017-12-31 21:59:03',
 '2017-12-31 21:59:12',
 '2017-12-31 21:59:38',
 '2017-12-31 22:04:10',
 '2017-12-31 22:10:05',
 '2017-12-31 22:10:34',
 '2017-12-31 22:10:55',
 '2017-12-31 22:12:06',
 '2017-12-31 22:14:28',
 '2017-12-31 22:15:00',
 '2017-12-31 22:15:21',
 '2017-12-31 22:19:31',
 '2017-12-31 22:23:54',
 '2017-12-31 22:24:51',
 '2017-12-31 22:26:29',
 '2017-12-31 22:35:01',
 '2017-12-31 22:35:37',
 '2017-12-31 22:37:02',
 '2017-12-31 22:38:29',
 '2017-12-31 22:47:55',
 '2017-12-31 22:48:04',
 '2017-12-31 22:51:20',
 '2017-12-31 22:52:19',
 '2017-12-31 22:57:14',
 '2017-12-31 22:59:26',
 '2017-12-31 22:59:27',
 '2017-12-31 23:00:06',
 '2017-12-31 23:02:27',
 '2017-12-31 23:02:47',
 '2017-12-31 23:03:54',
 '2017-12-31 23:05:30',
 '2017-12-31 23:06:13',
 '2017-12-31 23:07:05',
 '2017-12-31 23:07:44',
 '2017-12-31 23:12:16',
 '2017-12-31 23:13:12',
 '2017-12-31 23:14:12',
 '2017-12-31 23:16:54',
 '2017-12-31 23:17:47',
 '2017-12-31 23:18:51',
 '2017-12-31 23:19:14',
 '2017-12-31 23:22:49',
 '2017-12-31 23:23:50',
 '2017-12-31 23:27:27',
 '2017-12-31 23:28:08',
 '2017-12-31 23:28:43',
 '2017-12-31 23:29:55',
 '2017-12-31 23:30:03',
 '2017-12-31 23:30:21',
 '2017-12-31 23:31:55',
 '2017-12-31 23:32:30',
 '2017-12-31 23:32:53',
 '2017-12-31 23:35:34',
 '2017-12-31 23:35:59',
 '2017-12-31 23:38:38',
 '2017-12-31 23:39:09',
 '2017-12-31 23:40:17',
 '2017-12-31 23:40:21',
 '2017-12-31 23:40:38',
 '2017-12-31 23:41:03',
 '2017-12-31 23:41:50',
 '2017-12-31 23:42:48',
 '2017-12-31 23:44:09',
 '2017-12-31 23:45:19',
 '2017-12-31 23:46:53',
 '2017-12-31 23:47:01',
 '2017-12-31 23:47:07',
 '2017-12-31 23:48:23',
 '2017-12-31 23:48:43',
 '2017-12-31 23:49:05',
 '2017-12-31 23:49:06',
 '2017-12-31 23:49:40',
 '2017-12-31 23:49:48',
 '2017-12-31 23:50:56',
 '2017-12-31 23:51:52',
 '2017-12-31 23:51:56',
 '2017-12-31 23:52:21',
 '2017-12-31 23:53:08',
 '2017-12-31 23:53:28',
 '2017-12-31 23:54:36',
 '2017-12-31 23:54:40',
 '2017-12-31 23:55:21',
 '2017-12-31 23:55:27',
 '2017-12-31 23:56:05',
 '2017-12-31 23:56:14',
 '2017-12-31 23:56:18',
 '2017-12-31 23:56:24',
 '2017-12-31 23:56:26',
 '2017-12-31 23:56:29',
 '2017-12-31 23:57:08',
 '2017-12-31 23:57:09',
 '2017-12-31 23:57:11',
 '2017-12-31 23:57:13',
 '2017-12-31 23:57:19',
 '2017-12-31 23:57:28',
 '2017-12-31 23:57:46',
 '2017-12-31 23:57:48',
 '2017-12-31 23:57:51',
 '2017-12-31 23:58:00',
 '2017-12-31 23:58:09',
 '2017-12-31 23:58:14',
 '2017-12-31 23:58:18',
 '2017-12-31 23:58:19',
 '2017-12-31 23:58:28',
 '2017-12-31 23:58:33',
 '2017-12-31 23:58:35',
 '2017-12-31 23:58:35',
 '2017-12-31 23:58:36',
 '2017-12-31 23:58:45',
 '2017-12-31 23:58:48',
 '2017-12-31 23:58:49',
 '2017-12-31 23:58:53',
 '2017-12-31 23:58:55',
 '2017-12-31 23:58:58',
 '2017-12-31 23:58:58',
 '2017-12-31 23:59:04',
 '2017-12-31 23:59:14',
 '2017-12-31 23:59:17',
 '2017-12-31 23:59:20',
 '2017-12-31 23:59:20',
 '2017-12-31 23:59:22',
 '2017-12-31 23:59:22',
 '2017-12-31 23:59:30',
 '2017-12-31 23:59:37',
 '2017-12-31 23:59:39',
 '2017-12-31 23:59:42',
 '2017-12-31 23:59:44',
 '2017-12-31 23:59:50',
 '2017-12-31 23:59:50',
 '2017-12-31 23:59:51',
 '2017-12-31 23:59:51',
 '2018-01-01 00:00:00',
 '2018-01-01 00:00:02',
 '2018-01-01 00:00:03',
 '2018-01-01 00:00:03',
 '2018-01-01 00:00:04',
 '2018-01-01 00:00:04',
 '2018-01-01 00:00:06',
 '2018-01-01 00:00:11',
 '2018-01-01 00:00:13',
 '2018-01-01 00:00:14',
 '2018-01-01 00:00:14',
 '2018-01-01 00:00:15',
 '2018-01-01 00:00:15',
 '2018-01-01 00:00:16',
 '2018-01-01 00:00:17',
 '2018-01-01 00:00:18',
 '2018-01-01 00:00:19',
 '2018-01-01 00:00:20',
 '2018-01-01 00:00:22',
 '2018-01-01 00:00:23',
 '2018-01-01 00:00:24',
 '2018-01-01 00:00:24',
 '2018-01-01 00:00:25',
 '2018-01-01 00:00:25',
 '2018-01-01 00:00:25',
 '2018-01-01 00:00:25',
 '2018-01-01 00:00:26',
 '2018-01-01 00:00:26',
 '2018-01-01 00:00:27',
 '2018-01-01 00:00:28',
 '2018-01-01 00:00:32',
 '2018-01-01 00:00:33',
 '2018-01-01 00:00:35',
 '2018-01-01 00:00:36',
 '2018-01-01 00:00:36',
 '2018-01-01 00:00:36',
 '2018-01-01 00:00:37',
 '2018-01-01 00:00:38',
 '2018-01-01 00:00:38',
 '2018-01-01 00:00:38',
 '2018-01-01 00:00:39',
 '2018-01-01 00:00:40',
 '2018-01-01 00:00:42',
 '2018-01-01 00:00:42',
 '2018-01-01 00:00:42',
 '2018-01-01 00:00:43',
 '2018-01-01 00:00:44',
 '2018-01-01 00:00:44',
 '2018-01-01 00:00:46',
 '2018-01-01 00:00:50',
 '2018-01-01 00:00:51',
 '2018-01-01 00:00:52',
 '2018-01-01 00:00:53',
 '2018-01-01 00:00:53',
 '2018-01-01 00:00:54',
 '2018-01-01 00:00:56',
 '2018-01-01 00:00:58',
 '2018-01-01 00:00:59',
 '2018-01-01 00:00:59',
 '2018-01-01 00:00:59',
 '2018-01-01 00:01:00',
 '2018-01-01 00:01:00',
 '2018-01-01 00:01:00',
 '2018-01-01 00:01:01',
 '2018-01-01 00:01:03',
 '2018-01-01 00:01:05',
 '2018-01-01 00:01:06',
 '2018-01-01 00:01:07',
 '2018-01-01 00:01:08',
 '2018-01-01 00:01:09',
 '2018-01-01 00:01:10',
 '2018-01-01 00:01:11',
 '2018-01-01 00:01:13',
 '2018-01-01 00:01:13',
 '2018-01-01 00:01:13',
 '2018-01-01 00:01:14',
 '2018-01-01 00:01:16',
 '2018-01-01 00:01:16',
 '2018-01-01 00:01:18',
 '2018-01-01 00:01:18',
 '2018-01-01 00:01:19',
 '2018-01-01 00:01:19',
 '2018-01-01 00:01:20',
 '2018-01-01 00:01:22',
 '2018-01-01 00:01:22',
 '2018-01-01 00:01:22',
 '2018-01-01 00:01:24',
 '2018-01-01 00:01:24',
 '2018-01-01 00:01:25',
 '2018-01-01 00:01:25',
 '2018-01-01 00:01:26',
 '2018-01-01 00:01:26',
 '2018-01-01 00:01:28',
 '2018-01-01 00:01:29',
 '2018-01-01 00:01:31',
 '2018-01-01 00:01:32',
 '2018-01-01 00:01:34',
 '2018-01-01 00:01:35',
 '2018-01-01 00:01:35',
 '2018-01-01 00:01:36',
 '2018-01-01 00:01:37',
 '2018-01-01 00:01:39',
 '2018-01-01 00:01:40',
 '2018-01-01 00:01:41',
 '2018-01-01 00:01:43',
 '2018-01-01 00:01:45',
 '2018-01-01 00:01:46',
 '2018-01-01 00:01:47',
 '2018-01-01 00:01:48',
 '2018-01-01 00:01:48',
 '2018-01-01 00:01:48',
 '2018-01-01 00:01:51',
 '2018-01-01 00:01:52',
 '2018-01-01 00:01:52',
 '2018-01-01 00:01:52',
 '2018-01-01 00:01:54',
 '2018-01-01 00:01:54',
 '2018-01-01 00:01:55',
 '2018-01-01 00:01:56',
 '2018-01-01 00:01:57',
 '2018-01-01 00:01:58',
 '2018-01-01 00:01:58',
 '2018-01-01 00:01:58',
 '2018-01-01 00:01:59',
 '2018-01-01 00:02:00',
 '2018-01-01 00:02:00',
 '2018-01-01 00:02:00',
 '2018-01-01 00:02:04',
 '2018-01-01 00:02:05',
 '2018-01-01 00:02:06',
 '2018-01-01 00:02:06',
 '2018-01-01 00:02:08',
 '2018-01-01 00:02:09',
 '2018-01-01 00:02:10',
 '2018-01-01 00:02:11',
 '2018-01-01 00:02:11',
 '2018-01-01 00:02:11',
 '2018-01-01 00:02:11',
 '2018-01-01 00:02:12',
 '2018-01-01 00:02:12',
 '2018-01-01 00:02:12',
 '2018-01-01 00:02:12',
 '2018-01-01 00:02:12',
 '2018-01-01 00:02:12',
 '2018-01-01 00:02:13',
 '2018-01-01 00:02:13',
 '2018-01-01 00:02:13',
 '2018-01-01 00:02:15',
 '2018-01-01 00:02:16',
 '2018-01-01 00:02:16',
 '2018-01-01 00:02:16',
 '2018-01-01 00:02:17',
 '2018-01-01 00:02:17',
 '2018-01-01 00:02:18',
 '2018-01-01 00:02:18',
 '2018-01-01 00:02:18',
 '2018-01-01 00:02:19',
 '2018-01-01 00:02:22',
 '2018-01-01 00:02:25',
 '2018-01-01 00:02:25',
 '2018-01-01 00:02:25',
 '2018-01-01 00:02:25',
 '2018-01-01 00:02:25',
 '2018-01-01 00:02:25',
 '2018-01-01 00:02:26',
 '2018-01-01 00:02:26',
 '2018-01-01 00:02:27',
 '2018-01-01 00:02:27',
 '2018-01-01 00:02:27',
 '2018-01-01 00:02:27',
 '2018-01-01 00:02:27',
 '2018-01-01 00:02:28',
 '2018-01-01 00:02:31',
 '2018-01-01 00:02:31',
 '2018-01-01 00:02:31',
 '2018-01-01 00:02:31',
 '2018-01-01 00:02:33',
 '2018-01-01 00:02:34',
 '2018-01-01 00:02:36',
 '2018-01-01 00:02:38',
 '2018-01-01 00:02:39',
 '2018-01-01 00:02:39',
 '2018-01-01 00:02:40',
 '2018-01-01 00:02:43',
 '2018-01-01 00:02:44',
 '2018-01-01 00:02:45',
 '2018-01-01 00:02:47',
 '2018-01-01 00:02:48',
 '2018-01-01 00:02:48',
 '2018-01-01 00:02:50',
 '2018-01-01 00:02:50',
 '2018-01-01 00:02:51',
 '2018-01-01 00:02:51',
 '2018-01-01 00:02:51',
 '2018-01-01 00:02:51',
 '2018-01-01 00:02:53',
 '2018-01-01 00:02:55',
 '2018-01-01 00:02:58',
 '2018-01-01 00:02:58',
 '2018-01-01 00:02:59',
 '2018-01-01 00:03:00',
 '2018-01-01 00:03:00',
 '2018-01-01 00:03:01',
 '2018-01-01 00:03:01',
 '2018-01-01 00:03:01',
 '2018-01-01 00:03:02',
 '2018-01-01 00:03:03',
 '2018-01-01 00:03:03',
 '2018-01-01 00:03:04',
 '2018-01-01 00:03:05',
 '2018-01-01 00:03:05',
 '2018-01-01 00:03:05',
 '2018-01-01 00:03:05',
 '2018-01-01 00:03:06',
 '2018-01-01 00:03:07',
 '2018-01-01 00:03:07',
 '2018-01-01 00:03:07',
 '2018-01-01 00:03:09',
 '2018-01-01 00:03:10',
 '2018-01-01 00:03:10',
 '2018-01-01 00:03:10',
 '2018-01-01 00:03:10',
 '2018-01-01 00:03:11',
 '2018-01-01 00:03:11',
 '2018-01-01 00:03:11',
 '2018-01-01 00:03:11',
 '2018-01-01 00:03:12',
 '2018-01-01 00:03:14',
 '2018-01-01 00:03:14',
 '2018-01-01 00:03:15',
 '2018-01-01 00:03:16',
 '2018-01-01 00:03:17',
 '2018-01-01 00:03:18',
 '2018-01-01 00:03:19',
 '2018-01-01 00:03:19',
 '2018-01-01 00:03:20',
 '2018-01-01 00:03:20',
 '2018-01-01 00:03:20',
 '2018-01-01 00:03:21',
 '2018-01-01 00:03:21',
 '2018-01-01 00:03:21',
 '2018-01-01 00:03:22',
 '2018-01-01 00:03:23',
 '2018-01-01 00:03:23',
 '2018-01-01 00:03:23',
 '2018-01-01 00:03:23',
 '2018-01-01 00:03:24',
 '2018-01-01 00:03:24',
 '2018-01-01 00:03:24',
 '2018-01-01 00:03:24',
 '2018-01-01 00:03:25',
 '2018-01-01 00:03:29',
 '2018-01-01 00:03:29',
 '2018-01-01 00:03:30',
 '2018-01-01 00:03:30',
 '2018-01-01 00:03:30',
 '2018-01-01 00:03:30',
 '2018-01-01 00:03:31',
 '2018-01-01 00:03:31',
 '2018-01-01 00:03:32',
 '2018-01-01 00:03:33',
 '2018-01-01 00:03:33',
 '2018-01-01 00:03:35',
 '2018-01-01 00:03:35',
 '2018-01-01 00:03:35',
 '2018-01-01 00:03:35',
 '2018-01-01 00:03:36',
 '2018-01-01 00:03:36',
 '2018-01-01 00:03:36',
 '2018-01-01 00:03:37',
 '2018-01-01 00:03:37',
 '2018-01-01 00:03:38',
 '2018-01-01 00:03:40',
 '2018-01-01 00:03:40',
 '2018-01-01 00:03:40',
 '2018-01-01 00:03:42',
 '2018-01-01 00:03:43',
 '2018-01-01 00:03:43',
 '2018-01-01 00:03:45',
 '2018-01-01 00:03:45',
 '2018-01-01 00:03:45',
 '2018-01-01 00:03:46',
 '2018-01-01 00:03:46',
 '2018-01-01 00:03:46',
 '2018-01-01 00:03:48',
 '2018-01-01 00:03:48',
 '2018-01-01 00:03:49',
 '2018-01-01 00:03:49',
 '2018-01-01 00:03:51',
 '2018-01-01 00:03:51',
 '2018-01-01 00:03:52',
 '2018-01-01 00:03:52',
 '2018-01-01 00:03:54',
 '2018-01-01 00:03:54',
 '2018-01-01 00:03:54',
 '2018-01-01 00:03:54',
 '2018-01-01 00:03:54',
 '2018-01-01 00:03:55',
 '2018-01-01 00:03:55',
 '2018-01-01 00:03:55',
 '2018-01-01 00:03:56',
 '2018-01-01 00:03:56',
 '2018-01-01 00:03:56',
 '2018-01-01 00:03:57',
 '2018-01-01 00:03:57',
 '2018-01-01 00:03:57',
 '2018-01-01 00:03:59',
 '2018-01-01 00:04:00',
 '2018-01-01 00:04:02',
 '2018-01-01 00:04:03',
 '2018-01-01 00:04:04',
 '2018-01-01 00:04:04',
 '2018-01-01 00:04:04',
 '2018-01-01 00:04:04',
 '2018-01-01 00:04:05',
 '2018-01-01 00:04:05',
 '2018-01-01 00:04:06',
 '2018-01-01 00:04:06',
 '2018-01-01 00:04:07',
 '2018-01-01 00:04:07',
 '2018-01-01 00:04:07',
 '2018-01-01 00:04:08',
 '2018-01-01 00:04:08',
 '2018-01-01 00:04:09',
 '2018-01-01 00:04:09',
 '2018-01-01 00:04:10',
 '2018-01-01 00:04:11',
 '2018-01-01 00:04:11',
 '2018-01-01 00:04:14',
 '2018-01-01 00:04:15',
 '2018-01-01 00:04:15',
 '2018-01-01 00:04:15',
 '2018-01-01 00:04:16',
 '2018-01-01 00:04:16',
 '2018-01-01 00:04:17',
 '2018-01-01 00:04:17',
 '2018-01-01 00:04:18',
 '2018-01-01 00:04:18',
 '2018-01-01 00:04:18',
 '2018-01-01 00:04:19',
 '2018-01-01 00:04:19',
 '2018-01-01 00:04:19',
 '2018-01-01 00:04:19',
 '2018-01-01 00:04:19',
 '2018-01-01 00:04:20',
 '2018-01-01 00:04:21',
 '2018-01-01 00:04:22',
 '2018-01-01 00:04:22',
 '2018-01-01 00:04:23',
 '2018-01-01 00:04:23',
 '2018-01-01 00:04:24',
 '2018-01-01 00:04:25',
 '2018-01-01 00:04:26',
 '2018-01-01 00:04:27',
 '2018-01-01 00:04:27',
 '2018-01-01 00:04:27',
 '2018-01-01 00:04:27',
 '2018-01-01 00:04:28',
 '2018-01-01 00:04:29',
 '2018-01-01 00:04:31',
 '2018-01-01 00:04:31',
 '2018-01-01 00:04:31',
 '2018-01-01 00:04:32',
 '2018-01-01 00:04:33',
 '2018-01-01 00:04:33',
 '2018-01-01 00:04:33',
 '2018-01-01 00:04:33',
 '2018-01-01 00:04:34',
 '2018-01-01 00:04:34',
 '2018-01-01 00:04:34',
 '2018-01-01 00:04:35',
 '2018-01-01 00:04:35',
 '2018-01-01 00:04:36',
 '2018-01-01 00:04:36',
 '2018-01-01 00:04:36',
 '2018-01-01 00:04:36',
 '2018-01-01 00:04:36',
 '2018-01-01 00:04:37',
 '2018-01-01 00:04:37',
 '2018-01-01 00:04:38',
 '2018-01-01 00:04:38',
 '2018-01-01 00:04:40',
 '2018-01-01 00:04:40',
 '2018-01-01 00:04:42',
 '2018-01-01 00:04:42',
 '2018-01-01 00:04:42',
 '2018-01-01 00:04:43',
 '2018-01-01 00:04:43',
 '2018-01-01 00:04:44',
 '2018-01-01 00:04:45',
 '2018-01-01 00:04:45',
 '2018-01-01 00:04:45',
 '2018-01-01 00:04:46',
 '2018-01-01 00:04:46',
 '2018-01-01 00:04:47',
 '2018-01-01 00:04:49',
 '2018-01-01 00:04:50',
 '2018-01-01 00:04:51',
 '2018-01-01 00:04:52',
 '2018-01-01 00:04:52',
 '2018-01-01 00:04:52',
 '2018-01-01 00:04:52',
 '2018-01-01 00:04:52',
 '2018-01-01 00:04:53',
 '2018-01-01 00:04:53',
 '2018-01-01 00:04:55',
 '2018-01-01 00:04:55',
 '2018-01-01 00:04:57',
 '2018-01-01 00:04:58',
 '2018-01-01 00:04:58',
 '2018-01-01 00:04:59',
 '2018-01-01 00:04:59',
 '2018-01-01 00:04:59',
 '2018-01-01 00:05:00',
 '2018-01-01 00:05:00',
 '2018-01-01 00:05:00',
 '2018-01-01 00:05:00',
 '2018-01-01 00:05:01',
 '2018-01-01 00:05:01',
 '2018-01-01 00:05:01',
 '2018-01-01 00:05:01',
 '2018-01-01 00:05:02',
 '2018-01-01 00:05:02',
 '2018-01-01 00:05:02',
 '2018-01-01 00:05:02',
 '2018-01-01 00:05:03',
 '2018-01-01 00:05:04',
 '2018-01-01 00:05:05',
 '2018-01-01 00:05:05',
 '2018-01-01 00:05:05',
 '2018-01-01 00:05:07',
 '2018-01-01 00:05:07',
 '2018-01-01 00:05:07',
 '2018-01-01 00:05:08',
 '2018-01-01 00:05:08',
 '2018-01-01 00:05:09',
 '2018-01-01 00:05:09',
 '2018-01-01 00:05:10',
 '2018-01-01 00:05:10',
 '2018-01-01 00:05:11',
 '2018-01-01 00:05:11',
 '2018-01-01 00:05:11',
 '2018-01-01 00:05:12',
 '2018-01-01 00:05:12',
 '2018-01-01 00:05:12',
 '2018-01-01 00:05:12',
 '2018-01-01 00:05:13',
 '2018-01-01 00:05:13',
 '2018-01-01 00:05:13',
 '2018-01-01 00:05:13',
 '2018-01-01 00:05:13',
 '2018-01-01 00:05:13',
 '2018-01-01 00:05:13',
 '2018-01-01 00:05:14',
 '2018-01-01 00:05:14',
 '2018-01-01 00:05:14',
 '2018-01-01 00:05:14',
 '2018-01-01 00:05:14',
 '2018-01-01 00:05:14',
 '2018-01-01 00:05:15',
 '2018-01-01 00:05:15',
 '2018-01-01 00:05:16',
 '2018-01-01 00:05:16',
 '2018-01-01 00:05:16',
 '2018-01-01 00:05:17',
 '2018-01-01 00:05:17',
 '2018-01-01 00:05:18',
 '2018-01-01 00:05:18',
 '2018-01-01 00:05:19',
 '2018-01-01 00:05:19',
 '2018-01-01 00:05:19',
 '2018-01-01 00:05:19',
 '2018-01-01 00:05:20',
 '2018-01-01 00:05:20',
 '2018-01-01 00:05:20',
 '2018-01-01 00:05:20',
 '2018-01-01 00:05:21',
 '2018-01-01 00:05:21',
 '2018-01-01 00:05:21',
 '2018-01-01 00:05:21',
 '2018-01-01 00:05:22',
 '2018-01-01 00:05:22',
 '2018-01-01 00:05:23',
 '2018-01-01 00:05:24',
 '2018-01-01 00:05:25',
 '2018-01-01 00:05:27',
 '2018-01-01 00:05:27',
 '2018-01-01 00:05:27',
 '2018-01-01 00:05:28',
 '2018-01-01 00:05:28',
 '2018-01-01 00:05:30',
 '2018-01-01 00:05:30',
 '2018-01-01 00:05:32',
 '2018-01-01 00:05:32',
 '2018-01-01 00:05:33',
 '2018-01-01 00:05:33',
 '2018-01-01 00:05:33',
 '2018-01-01 00:05:34',
 '2018-01-01 00:05:34',
 '2018-01-01 00:05:35',
 '2018-01-01 00:05:35',
 '2018-01-01 00:05:36',
 '2018-01-01 00:05:36',
 '2018-01-01 00:05:36',
 '2018-01-01 00:05:37',
 '2018-01-01 00:05:38',
 '2018-01-01 00:05:38',
 '2018-01-01 00:05:38',
 '2018-01-01 00:05:39',
 '2018-01-01 00:05:40',
 '2018-01-01 00:05:41',
 '2018-01-01 00:05:41',
 '2018-01-01 00:05:41',
 '2018-01-01 00:05:42',
 '2018-01-01 00:05:42',
 '2018-01-01 00:05:44',
 '2018-01-01 00:05:44',
 '2018-01-01 00:05:45',
 '2018-01-01 00:05:45',
 '2018-01-01 00:05:46',
 '2018-01-01 00:05:46',
 '2018-01-01 00:05:46',
 '2018-01-01 00:05:47',
 '2018-01-01 00:05:47',
 '2018-01-01 00:05:48',
 '2018-01-01 00:05:49',
 '2018-01-01 00:05:49',
 '2018-01-01 00:05:49',
 '2018-01-01 00:05:50',
 '2018-01-01 00:05:51',
 '2018-01-01 00:05:52',
 '2018-01-01 00:05:52',
 '2018-01-01 00:05:53',
 '2018-01-01 00:05:53',
 '2018-01-01 00:05:54',
 '2018-01-01 00:05:54',
 '2018-01-01 00:05:54',
 '2018-01-01 00:05:55',
 '2018-01-01 00:05:56',
 '2018-01-01 00:05:56',
 '2018-01-01 00:05:56',
 '2018-01-01 00:05:57',
 '2018-01-01 00:05:57',
 '2018-01-01 00:05:58',
 '2018-01-01 00:05:58',
 '2018-01-01 00:05:58',
 '2018-01-01 00:05:58',
 '2018-01-01 00:06:01',
 '2018-01-01 00:06:01',
 '2018-01-01 00:06:01',
 '2018-01-01 00:06:02',
 '2018-01-01 00:06:02',
 '2018-01-01 00:06:02',
 '2018-01-01 00:06:02',
 '2018-01-01 00:06:03',
 '2018-01-01 00:06:03',
 '2018-01-01 00:06:03',
 '2018-01-01 00:06:03',
 '2018-01-01 00:06:03',
 '2018-01-01 00:06:03',
 '2018-01-01 00:06:04',
 '2018-01-01 00:06:05',
 '2018-01-01 00:06:05',
 '2018-01-01 00:06:06',
 '2018-01-01 00:06:07',
 '2018-01-01 00:06:08',
 '2018-01-01 00:06:09',
 '2018-01-01 00:06:09',

In [19]:
list(salary)

[39343.0,
 46205.0,
 37731.0,
 43525.0,
 39891.0,
 56642.0,
 60150.0,
 54445.0,
 64445.0,
 57189.0,
 63218.0,
 55794.0,
 56957.0,
 57081.0,
 61111.0,
 67938.0,
 66029.0,
 83088.0,
 81363.0,
 93940.0,
 91738.0,
 98273.0,
 101302.0,
 113812.0,
 109431.0,
 105582.0,
 116969.0,
 112635.0,
 122391.0,
 121872.0]

In [20]:
dict(salary)

{0: 39343.0,
 1: 46205.0,
 2: 37731.0,
 3: 43525.0,
 4: 39891.0,
 5: 56642.0,
 6: 60150.0,
 7: 54445.0,
 8: 64445.0,
 9: 57189.0,
 10: 63218.0,
 11: 55794.0,
 12: 56957.0,
 13: 57081.0,
 14: 61111.0,
 15: 67938.0,
 16: 66029.0,
 17: 83088.0,
 18: 81363.0,
 19: 93940.0,
 20: 91738.0,
 21: 98273.0,
 22: 101302.0,
 23: 113812.0,
 24: 109431.0,
 25: 105582.0,
 26: 116969.0,
 27: 112635.0,
 28: 122391.0,
 29: 121872.0}

In [21]:
max(salary)

122391.0

In [22]:
min(salary)

37731.0

## More series Attri

In [4]:
salary.values

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

In [5]:
salary.dtype

dtype('float64')

In [6]:
salary.index

RangeIndex(start=0, stop=30, step=1)

In [7]:
salary.is_unique

True

In [8]:
salary.ndim

1

In [9]:
salary.shape

(30,)

In [11]:
datetime.shape

(8759874,)

In [12]:
salary.size

30

In [15]:
salary.name ='Neil' #to change the name of the series

In [16]:
salary.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Neil, dtype: float64

## the .sort values

In [18]:
salary.sort_values().head()

2    37731.0
0    39343.0
4    39891.0
3    43525.0
1    46205.0
Name: Neil, dtype: float64

In [21]:
salary.sort_values(ascending=False).tail()

1    46205.0
3    43525.0
4    39891.0
0    39343.0
2    37731.0
Name: Neil, dtype: float64

## Inplace Parameters

In [22]:
salary.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Neil, dtype: float64

In [24]:
salary = salary.sort_values()

In [26]:
salary.sort_index()

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Neil, dtype: float64

In [30]:
salary.sort_values(ascending=False,inplace=True) # permently modify the variable

In [31]:
salary.head()

28    122391.0
29    121872.0
26    116969.0
23    113812.0
27    112635.0
Name: Neil, dtype: float64

## sort index

In [39]:
salary.sort_values(inplace=True)
salary.head()

2    37731.0
0    39343.0
4    39891.0
3    43525.0
1    46205.0
Name: Neil, dtype: float64

In [38]:
salary.sort_index(ascending=True)

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Neil, dtype: float64

In [40]:
salary.sort_index(ascending=False)

29    121872.0
28    122391.0
27    112635.0
26    116969.0
25    105582.0
24    109431.0
23    113812.0
22    101302.0
21     98273.0
20     91738.0
19     93940.0
18     81363.0
17     83088.0
16     66029.0
15     67938.0
14     61111.0
13     57081.0
12     56957.0
11     55794.0
10     63218.0
9      57189.0
8      64445.0
7      54445.0
6      60150.0
5      56642.0
4      39891.0
3      43525.0
2      37731.0
1      46205.0
0      39343.0
Name: Neil, dtype: float64

## Python in keywords

In [41]:
100 in [1,2,3,4,5,65]

False

In [44]:
10 in salary.index

True

In [45]:
43525 in salary.values

True

## Extract values by the series index

In [46]:
salary[12]

56957.0

In [47]:
salary[[12,13,14]]

12    56957.0
13    57081.0
14    61111.0
Name: Neil, dtype: float64

In [48]:
salary[5:10]

7     54445.0
11    55794.0
5     56642.0
12    56957.0
13    57081.0
Name: Neil, dtype: float64

In [49]:
salary[:15]

2     37731.0
0     39343.0
4     39891.0
3     43525.0
1     46205.0
7     54445.0
11    55794.0
5     56642.0
12    56957.0
13    57081.0
9     57189.0
6     60150.0
14    61111.0
10    63218.0
8     64445.0
Name: Neil, dtype: float64

In [50]:
salary[-5:]

27    112635.0
23    113812.0
26    116969.0
29    121872.0
28    122391.0
Name: Neil, dtype: float64

In [52]:
salary[-5:-2]

27    112635.0
23    113812.0
26    116969.0
Name: Neil, dtype: float64

## extract values by index label

In [58]:
salary = pd.read_csv('/home/nilesh/Downloads/P14-Simple-Linear-Regression/Simple_Linear_Regression/data.csv',index_col='Salary',squeeze=True)

In [60]:
salary.head()

Salary
39343.0    1.1
46205.0    1.3
37731.0    1.5
43525.0    2.0
39891.0    2.2
Name: YearsExperience, dtype: float64

In [64]:
salary[39343]

1.1

In [65]:
salary[[39343,46205]]

Salary
39343    1.1
46205    1.3
Name: YearsExperience, dtype: float64

In [66]:
salary[[39343,0]] # if index values is not present then it will show NaN

/home/nilesh/.local/lib/python2.7/site-packages/pandas/core/series.py:942: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Salary
39343    1.1
0        NaN
Name: YearsExperience, dtype: float64

In [68]:
salary.name = 'EXp'

In [69]:
salary

Salary
39343.0      1.1
46205.0      1.3
37731.0      1.5
43525.0      2.0
39891.0      2.2
56642.0      2.9
60150.0      3.0
54445.0      3.2
64445.0      3.2
57189.0      3.7
63218.0      3.9
55794.0      4.0
56957.0      4.0
57081.0      4.1
61111.0      4.5
67938.0      4.9
66029.0      5.1
83088.0      5.3
81363.0      5.9
93940.0      6.0
91738.0      6.8
98273.0      7.1
101302.0     7.9
113812.0     8.2
109431.0     8.7
105582.0     9.0
116969.0     9.5
112635.0     9.6
122391.0    10.3
121872.0    10.5
Name: EXp, dtype: float64

# .get method

In [70]:
salary = pd.read_csv('/home/nilesh/Downloads/P14-Simple-Linear-Regression/Simple_Linear_Regression/data.csv',index_col='Salary',squeeze=True)
salary.sort_index(inplace=True)
salary.head()

Salary
37731.0    1.5
39343.0    1.1
39891.0    2.2
43525.0    2.0
46205.0    1.3
Name: YearsExperience, dtype: float64

In [71]:
salary.get(37731)

1.5

In [72]:
salary.get([37731,39343])

Salary
37731    1.5
39343    1.1
Name: YearsExperience, dtype: float64

In [78]:
salary.get(key=876,default='Not Present')

'Not Present'

In [79]:
salary.get(key=[39343,767]) #if values not preasent then return NaN

Salary
39343    1.1
767      NaN
Name: YearsExperience, dtype: float64

## Math Methods available in series

In [84]:
salary = pd.read_csv('/home/nilesh/Downloads/P14-Simple-Linear-Regression/Simple_Linear_Regression/data.csv',usecols=['Salary'],squeeze=True)

In [86]:
salary.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [87]:
salary.count()

30

In [88]:
len(salary)

30

In [89]:
salary.sum()

2280090.0

In [90]:
salary.mean()

76003.0

In [91]:
salary.sum()/salary.count()

76003.0

In [92]:
salary.std()

27414.4297845823

In [93]:
salary.min()

37731.0

In [94]:
salary.median()

65237.0

In [96]:
salary.mode()

0      37731.0
1      39343.0
2      39891.0
3      43525.0
4      46205.0
5      54445.0
6      55794.0
7      56642.0
8      56957.0
9      57081.0
10     57189.0
11     60150.0
12     61111.0
13     63218.0
14     64445.0
15     66029.0
16     67938.0
17     81363.0
18     83088.0
19     91738.0
20     93940.0
21     98273.0
22    101302.0
23    105582.0
24    109431.0
25    112635.0
26    113812.0
27    116969.0
28    121872.0
29    122391.0
dtype: float64

In [97]:
salary.describe()

count        30.000000
mean      76003.000000
std       27414.429785
min       37731.000000
25%       56720.750000
50%       65237.000000
75%      100544.750000
max      122391.000000
Name: Salary, dtype: float64

## Index max and index min methods

In [98]:
salary = pd.read_csv('/home/nilesh/Downloads/P14-Simple-Linear-Regression/Simple_Linear_Regression/data.csv',usecols=['Salary'],squeeze=True)

In [99]:
salary.head(5)

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [101]:
salary.idxmax() # give index of that values which is max

28

In [107]:
salary.idxmin() # give index of that values which is min

2

In [103]:
salary[28]

122391.0

In [104]:
salary[2]

37731.0

In [105]:
salary.min()

37731.0

In [106]:
salary.max()

122391.0

In [108]:
salary[salary.idxmax()]

122391.0

In [109]:
salary[salary.idxmin()]

37731.0

## .value_count method

In [114]:
salary = pd.read_csv('/home/nilesh/Desktop/yellow.csv',usecols=['fare_amount'],squeeze=True)
salary.head()

0     4.5
1    14.0
2     6.0
3    33.5
4    12.5
Name: fare_amount, dtype: float64

In [116]:
salary.value_counts().head(5)

6.0    473234
5.5    465176
6.5    461927
7.0    446376
5.0    433249
Name: fare_amount, dtype: int64

In [117]:
salary.value_counts().sum()

8759874

In [118]:
salary.count()

8759874

In [119]:
salary.value_counts(ascending=True)

 30.35          1
 980.06         1
 286.60         1
 27.28          1
 2.52           1
 384.60         1
 3.73           1
-69.00          1
 162.80         1
 167.20         1
 189.70         1
 138.20         1
 139.20         1
 143.20         1
 128.80         1
 135.55         1
 29.16          1
 153.20         1
 55.20          1
 55.70          1
 56.30          1
 57.80          1
-16.80          1
 57.20          1
 63.55          1
 63.70          1
 60.55          1
 60.30          1
 61.05          1
 61.30          1
            ...
 17.50      68324
 17.00      75256
 16.50      80540
 16.00      89317
 15.50      96926
 15.00     106898
 14.50     116526
 14.00     129760
 3.50      133043
 13.50     142080
 13.00     157868
 12.50     175196
 52.00     180719
 12.00     193830
 11.50     212729
 11.00     236136
 4.00      256294
 10.50     259848
 10.00     289305
 9.50      313051
 9.00      342254
 4.50      359637
 8.50      369216
 8.00      399147
 7.50      421862
 5.00      433249
 7.00      446376
 6.50      461927
 5.50      465176
 6.00      473234
Name: fare_amount, Length: 1714, dtype: int64

## .apply method

In [120]:
salary.head()

0     4.5
1    14.0
2     6.0
3    33.5
4    12.5
Name: fare_amount, dtype: float64

In [121]:
def classify(num):
    if num<5:
        return 'ok'
    elif num>=5 and num <15:
        return 'Satisfy'
    else:
        return 'hell'

In [122]:
salary.apply(classify)

0               ok
1          Satisfy
2          Satisfy
3             hell
4          Satisfy
5               ok
6          Satisfy
7               ok
8          Satisfy
9          Satisfy
10         Satisfy
11            hell
12         Satisfy
13         Satisfy
14         Satisfy
15            hell
16            hell
17              ok
18            hell
19         Satisfy
20         Satisfy
21         Satisfy
22         Satisfy
23            hell
24         Satisfy
25              ok
26            hell
27              ok
28         Satisfy
29         Satisfy
            ...
8759844         ok
8759845       hell
8759846    Satisfy
8759847    Satisfy
8759848    Satisfy
8759849    Satisfy
8759850    Satisfy
8759851       hell
8759852       hell
8759853       hell
8759854    Satisfy
8759855    Satisfy
8759856       hell
8759857    Satisfy
8759858         ok
8759859       hell
8759860       hell
8759861         ok
8759862    Satisfy
8759863    Satisfy
8759864    Satisfy
8759865         ok
8759866    Satisfy
8759867    Satisfy
8759868    Satisfy
8759869    Satisfy
8759870         ok
8759871    Satisfy
8759872         ok
8759873         ok
Name: fare_amount, Length: 8759874, dtype: object

In [123]:
salary.head()

0     4.5
1    14.0
2     6.0
3    33.5
4    12.5
Name: fare_amount, dtype: float64

In [124]:
salary.apply(lambda sp:sp + 1)

0           5.5
1          15.0
2           7.0
3          34.5
4          13.5
5           5.5
6          10.0
7           5.0
8           6.5
9           6.5
10          6.5
11         17.5
12          6.5
13          8.5
14         11.0
15         20.0
16         26.5
17          5.5
18         36.0
19          7.0
20         14.0
21         10.5
22         15.5
23         19.0
24         13.0
25          5.5
26         17.0
27          5.0
28          7.0
29          8.5
           ...
8759844     5.5
8759845    19.0
8759846    14.5
8759847    11.5
8759848     9.5
8759849    15.5
8759850     7.5
8759851    19.5
8759852    22.5
8759853    19.0
8759854    15.5
8759855     6.0
8759856    35.5
8759857     7.5
8759858     5.5
8759859    37.5
8759860    43.0
8759861     5.0
8759862     8.5
8759863    13.5
8759864    11.0
8759865     5.5
8759866     7.0
8759867     9.5
8759868    12.0
8759869    13.0
8759870     5.5
8759871    11.5
8759872     1.0
8759873     1.0
Name: fare_amount, Length: 8759874, dtype: float64

## the MAp Method

In [128]:
salary = pd.read_csv('/home/nilesh/Downloads/P14-Simple-Linear-Regression/Simple_Linear_Regression/data.csv',usecols=['Salary'],squeeze=True)
salary.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [130]:
exp = pd.read_csv('/home/nilesh/Downloads/P14-Simple-Linear-Regression/Simple_Linear_Regression/data.csv',index_col='Salary',squeeze=True)
exp.head()

Salary
39343.0    1.1
46205.0    1.3
37731.0    1.5
43525.0    2.0
39891.0    2.2
Name: YearsExperience, dtype: float64

In [131]:
salary.map(exp) # in this function put the index types inside the map and apply map on the series

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
Name: Salary, dtype: float64

In [133]:
salary = pd.read_csv('/home/nilesh/Downloads/P14-Simple-Linear-Regression/Simple_Linear_Regression/data.csv',usecols=['Salary'],squeeze=True)
exp = pd.read_csv('/home/nilesh/Downloads/P14-Simple-Linear-Regression/Simple_Linear_Regression/data.csv',index_col='Salary',squeeze=True).to_dict()

In [135]:
salary.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [137]:
exp

{37731.0: 1.5,
 39343.0: 1.1,
 39891.0: 2.2,
 43525.0: 2.0,
 46205.0: 1.3,
 54445.0: 3.2,
 55794.0: 4.0,
 56642.0: 2.9,
 56957.0: 4.0,
 57081.0: 4.1,
 57189.0: 3.7,
 60150.0: 3.0,
 61111.0: 4.5,
 63218.0: 3.9,
 64445.0: 3.2,
 66029.0: 5.1,
 67938.0: 4.9,
 81363.0: 5.9,
 83088.0: 5.3,
 91738.0: 6.8,
 93940.0: 6.0,
 98273.0: 7.1,
 101302.0: 7.9,
 105582.0: 9.0,
 109431.0: 8.7,
 112635.0: 9.6,
 113812.0: 8.2,
 116969.0: 9.5,
 121872.0: 10.5,
 122391.0: 10.3}

In [138]:
salary.map(exp)

0      1.1
1      1.3
2      1.5
3      2.0
4      2.2
5      2.9
6      3.0
7      3.2
8      3.2
9      3.7
10     3.9
11     4.0
12     4.0
13     4.1
14     4.5
15     4.9
16     5.1
17     5.3
18     5.9
19     6.0
20     6.8
21     7.1
22     7.9
23     8.2
24     8.7
25     9.0
26     9.5
27     9.6
28    10.3
29    10.5
Name: Salary, dtype: float64